<div class="row">
  <%= form_for [list, item] do |f| %>
  <div class= "col-md-7">
    [ ] <%= f.text_field :description, placeholder: 'New task'%>
  </div>
  <div class= "col-md-5" align="right">
    Due
    <%= f.select :deadline,
	options_for_select( [
	['Next week', (Time.now+7.day)],
	['Tomorrow', (Time.now+1.day).end_of_day],
	['Today', Time.now.end_of_day]
	] ) %>
    Remind me?
    <%= f.select :remind,
	options_for_select( [
	['Yes', true],
	['No', false]
	] ) %>
	
    <!--     <%= f.submit "save"%>    -->
  </div>
  <% end %>
</div>
