<script type="text/javascript">
$(document).ready(function(){
    $('.datepicker').datepicker({
      startDate: '0',
      format: "yyyy/mm/dd",

    });
  });
</script>


<div class="row">
  <%= form_for [list, item] do |f| %>
  <div class= "col-md-7">
    [ ] <%= f.text_field :description, placeholder: 'New task'%>
  </div>
  <div class= "col-md-5" align="right">
    Due
    <%= f.text_field :deadline, class: 'datepicker' %>
    Remind me?
    <%= f.select :remind,
	options_for_select( [
	['Yes', true],
	['No', false]
	] ) %>
	
    <!--     <%= f.submit "save"%>    -->
  </div>
  <% end %>
</div>

