<% if @items.any? %>

<h2>History <%= @items.first.updated_at.to_date %> - <%= @items.last.updated_at.to_date %></h2>

<% datesarray = Array.new %>
<% @items.each do |i| %>
  <% datesarray << i.updated_at.to_date %>
<% end %>
<% datesarray = datesarray.uniq %>
<% datecounter = datesarray.count - 1 %>

<% for i in 0..datecounter %>
  </br>
  <h4><%= datesarray[i] %></h4>
  </br>
  <% @items.each do |n| %>
    <% if datesarray[i] == n.updated_at.to_date %>
      <% if n.done == true %>
        DONE <%= n.description %>
      <% else %>
        MISSED <%= n.description %>
      <% end %>
    </br>
    <% end %>
  <% end %>
<% end %>

<% else %>

No tasks in this time period

<% end %>
