<!DOCTYPE html>
<html>

<head>
  <title>Scrapout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
     <div class="container-fluid">
       <nav class="navbar navbar-default" role="navigation">
	   <ul class="nav navbar-nav navbar-left">
             <li>
	       <p class="navbar-text">
		 <%= signed_in? ? current_user.username : "" %>
	       </p>
	     </li>
	     <li><%= link_to "Settings (later)", '#' %></li>
	   </ul>
           <ul class="nav navbar-nav navbar-right">
	     <li><%= link_to "Stats", '#' %></li>
	     <li><%= link_to "History", '#' %></li>
             <li><%= link_to "Lists (later)", lists_path %></li>
             <li><%= link_to "Home (later)", root_path %></li>
	     <% if signed_in? %>
	     <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
	     <% else %>
	     <li><%= link_to "Sign in", signin_path %></li>
	     <% end %>
           </ul>
       </nav>

      <%= yield %>
     </div>
</body>
</html>
